
h1, h2, h3, h4, h5 {
	font-family: serif;
	color: #025;
}
h1 {
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	font-size: 30pt;
}
h2 {
	font-size: 20pt;
}
h5 {
	color: #013;
	margin-bottom: 8px;
}

a {
	color: #2244bb;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #ffdd0e;
}

#header, #content {
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}

#header ul {
	margin: 0;
	padding-left: 0;
	height: 40px;
	line-height: 40px;
	display: block;
	list-style: none;
	background-color: #bbc0dd;
}

#header li {
	margin-right: 4px;
	display: inline;
	background-color: #ccd0ee;
	float: left;
}

#header li a {
	background-color: #bbc0dd;
	margin-right: 4px;
	height: 40px;
	line-height: 40px;
	display: block;
	padding-left: 24px;
	padding-right: 24px;
	float: left;
}

#header li a:hover {
	background-color: #80a0cc;
	text-decoration: none;
}

#visual {
	width: 600px;
	height: 200px;
	background-image: url(alopex.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
}


#footer {
	width: 600px;
	margin-top: 28px;
	margin-left: auto;
	margin-right: auto;
	font-size: 11px;
	line-height: 14px;
	text-align: right;
	padding-top: 8px;
}

#footer a {
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
	color: #446;
}

#footer a:hover {
	color: #68A;
}



#content ul {
	list-style: none;
	list-style-position: inside;
	margin: 0px;
	padding: 0px;
}
#content li:before {
	content: "•";
	color: #046;
}
